# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pkg/*
src/cloud.google.com
src/github.com
src/go.opencensus.io
src/golang.org
src/google.golang.org
src/gopkg.in

src/poolscore/lhost
src/poolscore/rhost
src/poolscore/Xconfig.yaml
src/poolscore/poolscore
src/poolscore/google-key.json
src/poolscore/players.yaml
src/poolscore/*.sh
src/poolscore/.envrc

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
